:root {
    font-size: 10px;
    --text-color: #222;
    --main-bkg-color: #fff;
    --sec-bkg-color: #eee;
    --helper-color: #eee;
    color: var(--text-color);
}

:root.dark-theme {
    --text-color: #eee;
    --main-bkg-color: #121212;
    --sec-bkg-color: #c3073f;
    --helper-color: #222;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

    /* no text focus */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.outer-container {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bkg-color);
    min-height: 100vh;
}

/* Header Section*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100vw;
    height: 10vh;
    padding: 2rem 4rem;
    background-color: var(--helper-color);
    z-index: 2000;
}

h1 {
    font-size: 4rem;
}

.dropdown-section {
    position: relative;
    width: 10vw;
    min-width: 15rem;
    display: flex;
    justify-content: center;
}

.login-btn,
.account-btn {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--text-color);
}

.login-btn:hover,
.account-btn:hover {
    font-weight: 600;
}

.dropdown-section:hover .account-btn + .dropdown-list {
    display: flex;
}

.dropdown-list {
    list-style: none;
    position: absolute;
    top: 90%;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2rem;
    font-size: 1.2rem;
    background-color: var(--sec-bkg-color);
    color: var(--text-color);
    width: 100%;
    min-width: 100%;
    padding: 2rem;
    height: 10rem;
}

.dropdown-list li {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    min-width: 100%;
    font-size: 1.3rem;
}

.dropdown-list img,
.dropdown-list svg {
    width: 2rem;
    height: 2rem;
}

.dropdown-list {
    display: none;
}

/* Main Section */
main {
    display: flex;
    flex: 1;
}

/* Nav Section */
.nav {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bkg-color);
    border-right: 3px solid var(--helper-color);
    width: 15vw;
    min-width: 25rem;
    color: var(--text-color);
    padding: 3rem;
    gap: 2rem;
    font-size: 1.6rem;
    z-index: 1000;
}

.nav-heading,
.projects-heading {
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.projects-heading {
    font-size: 2.5rem;
    font-weight: 600;
    padding-left: 1rem;
    cursor: auto;
}

.nav-heading {
    display: flex;
    gap: 2rem;
}

.nav-heading:hover {
    background-color: var(--sec-bkg-color);
}

.nav-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--text-color);
}

/* Projects Section */
.projects-section {
    display: flex;
    flex-direction: column;
}

.add-project-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    justify-content: left;
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    color: var(--text-color);
}

.add-project-btn:hover {
    background-color: var(--sec-bkg-color);
}
